<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - IP Geolocation</title>
    <!-- Include the styles partial -->
    <%- include('../partials/styles'); %> 
</head>
<body>
    <h1>Welcome to the home page!</h1>
    <h2><a href="/visitors">Click here</a> to go to the /visitors page.</h2>
    <p>Your IP address will be used to get your location and add it to the visitor log.</p>
    <h2><a href="/api/visitors">Click here</a> to go to the /api/visitors page.</h2>
</body>
</html>