<h2>Click on a button to send a request with the IP:</h2>
<div id="buttons-group">
    <button class="test-ip" id="54.119.40.180">54.119.40.180 (US)</button>
    <button class="test-ip" id ="77.255.219.178">77.255.219.178 (Bydgoszcz, KP, PL)</button>
    <button class="test-ip" id ="48.118.100.121">48.118.100.121 (US)</button>
    <button class="test-ip" id ="79.224.62.158">79.224.62.158 (Wolnzach,  BY,  DE)</button>
    <button class="test-ip" id ="39.18.45.108">39.18.45.108 (KR)</button>
    <button class="test-ip" id ="68.121.207.168">68.121.207.168 (US)</button>
    <button class="test-ip" id ="114.226.25.254">114.226.25.254 (Changzhou,  JS,  CN)</button>
    <button class="test-ip" id ="186.100.224.124">186.100.224.124 (AR)</button>
    <button class="test-ip" id ="89.59.10.239">89.59.10.239 (DE)</button>
</div>